<form (ngSubmit)="submitForm()" #pacientForm="ngForm">
  <div>
    <label for="name">Nombre del paciente: </label>
    <input type="text" id="name" [(ngModel)]="patientName" name="name" required>
  </div>
  <br>
  <div>
    <label for="age">Edad: </label>
    <input type="number" id="age" [(ngModel)]="patientAge" name="age" required min="1" max="170">
  </div>
  <button type="submit" [disabled]="!patientName || patientName.trim() === '' || !patientAge">Enviar</button>
</form>


<hr>

<table *ngIf="patients && patients.length">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.id }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.age }}</td>
      <td><button (click)="deletePatient(patient.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>